body{
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  background-color: hotpink;
  background-image:url(../media/hezel.jpg);
  background-size: cover;
  background-repeat:no-repeat;
}
h1{
  color: yellow;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  }
  
  h2{
      color: hotpink;
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 18px;
      border: 5px solid yellow;
      border-radius: 25px;
      margin: 4px;
  }

  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: darkred;
      color: black;
      text-align: center;
   }

a {
    text-decoration: none;
  }
  
  nav {
    font-family: monospace;
    font-size: 50px;
    padding-left: 14px;
}

ul {
  
    list-style: none;
    margin: 0;
    padding-left: 0;
}
  
  
li {
      
  background: purple;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: #fff;
}

li:hover {
    background: purple;
    cursor: pointer;
}
  
  ul li ul {
      background: purple;
      visibility: hidden;
    opacity: 0;
    min-width: 5rem;
      position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
      left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
      clear: both;
    width: 100%;
  }
@media only screen and (min-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    body{ 
        max-width:1200px;
        background:url('../media/hezel.jpg');
        background-repeat:no-repeat;
        background-position:center top;
        background-size:cover;
        background-color:#111;
    }
}